.shopWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopWrapper h1:first-child {
    margin-top: 0;
}

.plansContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 5vw;
    color: white;
    margin-bottom: 5vw;
}

.plansContainer div:first-child {
    background: linear-gradient(to bottom, #000000, rgb(72, 0, 62));
}

.plansContainer div:nth-child(2) {
    background: linear-gradient(to bottom, #000000, rgb(64, 0, 146));
}

.plansContainer div:last-child {
    background: linear-gradient(to bottom, #000000, rgb(135, 0, 0));
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    height: 35vw;
    min-width: 20vw;
    border-radius: 1.6vw;
    gap: 1vw;
}

.planName {
    font-size: 2vw;
    font-weight: 800;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
}

.price span {
    color: #939393;
    font-weight: 100;
}

.pros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #040409 !important;
    max-width: 16vw;
    border-radius: 1.6vw;
    min-width: 20vw;
    height: 100%;
}

.pros ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    list-style: none;
    padding: 1vw;
}

.pros ul li:first-child {
    margin-top: 1.5vw;
}

.pros ul li {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1vw;
    padding: 0 0.5vw;
}

.pros ul li img {
    width: 1vw;
    height: 1vw;
}

.pros ul li p {
    font-size: 0.8vw;
    font-weight: 100;
}

.plan button {
    margin-left: 50%;
    margin-bottom: 2vw;
    transform: translateX(-50%);
}

.pixelGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin: 2vw 0 10vw;
}

.pixelGrid button {
    border-radius: 1vw;
}

.pixelIcon {
    width: 3vw;
    height: 3vw;
    margin-left: -1.5vw;
    margin-right: -0.5vw;
}

.pixelPrice {
    min-width: 10vw;
    font-size: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5vw;
}

.pixelPriceSpan {
    font-size: 1vw;
    text-align: center;
    color: #dddddd;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    color: white;
    background-color: #8A4CF0;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

.button2:hover {
    background-color: #6f36c9;
}

@media screen and (max-width: 768px) {
    .shopWrapper {
        margin-top: 10vw;
    }

    .plansContainer {
        grid-template-columns: 1fr;
        gap: 5vw;
        margin-top: 10vw;
    }

    .plan {
        width: 75vw;
        height: 110vw;
        border-radius: 5vw;
        padding: 5vw;
    }

    .planName {
        font-size: 6vw;
        font-weight: 600;
    }

    .price {
        margin-top: 2vw;
        font-size: 3vw;
        gap: 2vw;
    }

    .pros {
        max-width: 65vw;
        min-width: 65vw;
        height: 100%;
        max-height: 80vw;
        border-radius: 5vw;
        margin-top: 5vw;
    }

    .pros ul {
        gap: 5vw;
        padding: 5vw;
    }

    .pros ul li {
        gap: 4vw;
    }

    .pros ul li p {
        font-size: 4vw;
        line-height: 5vw;
    }

    .pros ul li img {
        width: 3.5vw;
        height: 3.5vw;
    }

    .plan button {
        margin-bottom: 5vw;
        padding: 2vw 5vw;
        font-size: 3.5vw;
    }

    .pixelGrid {
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
        margin-top: 10vw;
    }

    .pixelGrid button {
        padding: 2vw 10vw;
    }

    .pixelPrice {
        font-size: 6vw;
    }

    .pixelPriceSpan {
        font-size: 2vw;
    }

    .pixelGrid button img {
        width: 6.5vw;
        height: 6.5vw;
        margin-right: 2vw;
    }
}