.mainH1 {
    font-size: 3.5vw;
    font-weight: 800;
    margin: 2vw 0;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5vw 10vw;
}

.info__container {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    color: white;
    gap: 2vw;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(161, 127, 231, 0.12);
    width: 30vw;
    padding: 2vw;
    gap: 1vw;
    color: white;
    border-radius: 1.6vw;
}

.form input,
.form textarea{
    width: 100%;
    border: none;
}

.form input:focus,
.form textarea:focus {
    outline: none;
}

.form textarea {
    resize: none;
    height: 5vw;
    border-radius: 1vw;
    padding: 1vw 1vw;
}

.form input {
    padding: 0.8vw 1vw;
    border-radius: 2vw;
}

.form button {
    background: var(--linear-gradient);
    border: none;
    padding: 1vw 2vw;
    border-radius: 100vw;
    color: white;
}

.form button:hover {
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .mainH1 {
        font-size: 8vw;
        margin-top: 10vw;
    }

    .contacts__wrapper {
        margin: 5vw 5vw;
        gap: 10vw;
    }

    .info__container {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .form {
        width: 100%;
        padding: 5vw;
        gap: 5vw;
        border-radius: 6vw;
    }

    .form input {
        padding: 2vw;
        height: 10vw;
    }

    .form textarea {
        padding: 2vw;
        border-radius: 3vw;
        height: 20vw;
    }

    .form button {
        padding: 3vw 5vw;
    }

    .successMessage {
        font-size: 4vw;
        text-align: center;
        width: 100vw;
    }
}