.mainH1 {
    font-size: 3.5vw;
    font-weight: 800;
    margin: 2vw 0;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5vw 10vw;
}

.info__container {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    color: white;
    gap: 2vw;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(161, 127, 231, 0.12);
    width: 30vw;
    padding: 2vw;
    gap: 1vw;
    color: white;
    border-radius: 1.6vw;
}

.form input,
.form textarea{
    width: 100%;
    border: none;
}

.form input:focus,
.form textarea:focus {
    outline: none;
}

.form textarea {
    resize: none;
    height: 5vw;
    border-radius: 1vw;
    padding: 1vw 1vw;
}

.form input {
    padding: 0.8vw 1vw;
    border-radius: 2vw;
}

.form button {
    background: var(--linear-gradient);
    border: none;
    padding: 1vw 2vw;
    border-radius: 100vw;
    color: white;
}

.form button:hover {
    cursor: pointer;
}