.search__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2vw;
}

.search {
    width: 70vw;
    height: 3vw;
    padding: 0.2vw 0.2vw 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 100px;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
}

.search:focus {
    outline: none;
}

.submit__button {
    padding: 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 4vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
}

.device__type__container {
    display: flex;
    justify-content: center;
}

.device__type__btn {
    background-color: transparent;
    padding: 1vw;
    width: 3vw;
    height: 3vw;
}