/* Loader */
.loader {
    width: 50px;
    aspect-ratio: 1;
    --_c: no-repeat radial-gradient(farthest-side, #8a4cf0 92%, #0000);
    background:
            var(--_c) top,
            var(--_c) left,
            var(--_c) right,
            var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
}

@keyframes l7 {
    to { transform: rotate(.5turn); }
}

/* Loader Container */
.loaderContainer {
    display: flex;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure loader container has full height to make loader visible */
}

/* Fade-in and Fade-out Animations for Wallpapers */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

/* Existing styles */
.manageWallpapersContainer {
    padding: 2vw;
    color: white;
}

.admin__button {
    padding: 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 4vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
    transition: 0.3s;
    cursor: pointer;
}

.admin__button:hover {
    color: white;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-top: 1vw;
    font-size: 1.2vw;
}

.wallpapersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
    gap: 2vw;
    margin-top: 2vw;
    place-items: center;
}

.wallpaperItem {
    position: relative;
    border: 0.1vw solid #8A4CF0;
    border-radius: 1vw;
    overflow: hidden;
    text-align: center;
    background: #090A1F;
}

.wallpaperImage {
    width: 100%;
    height: auto;
    display: block;
}

.wallpaperActions {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButtonContainer {
    display: flex;
    align-items: center;
}

.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    gap: 1vw;
    color: white;
}

.filterContainer label {
    font-size: 1vw;
}

.filterContainer select {
    padding: 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 4vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 1vw;
    transition: 0.3s;
}

.filterContainer select:hover {
    cursor: pointer;
    color: white;
}

.search__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2vw;
    position: relative; /* Ensure the container is positioned relative */
}

.search {
    width: 70vw;
    height: 3vw;
    padding: 0.2vw 3vw 0.2vw 2vw; /* Add padding on the right for the icon */
    border: double 0.1vw transparent;
    border-right: none;
    border-bottom-left-radius: 10vw;
    border-top-left-radius: 10vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.search__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search:focus {
    outline: none;
}

.search__button {
    height: 3vw;
    padding: 0 2vw; /* Adjust padding as needed */
    border: double 0.1vw transparent;
    border-bottom-right-radius: 10vw;
    border-top-right-radius: 10vw;
    border-left: none;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #8A4CF0, #F72585);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
}

.submit__button {
    padding: 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 4vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
    transition: 0.3s;
}

.submit__button:hover {
    cursor: pointer;
    color: white;
}

.device__type__container {
    display: flex;
    justify-content: center;
}

.device__type__btn {
    display: grid;
    place-items: center;
    background-color: transparent;
    width: 5vw;
    height: 3vw;
    border: double 0.1vw transparent;
    cursor: pointer;
}

.mobile__btn {
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #8A4CF0, #F72585);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-left: solid 0.1vw #8A4CF0;
    border-bottom-left-radius: 10vw;
    border-top-left-radius: 10vw;
}

.desktop__btn {
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-bottom-right-radius: 10vw;
    border-top-right-radius: 10vw;
}

.mobile__btn__img {
    width: 20%;
    height: 100%;
}

.desktop__btn__img {
    width: 35%;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    gap: 1vw;
    color: white;
}

.page__btn {
    padding: 0.2vw 2vw;
    border: double 0.1vw transparent;
    border-radius: 4vw;
    background-image: linear-gradient(#090A1F, #090A1F),
    linear-gradient(to right, #F72585, #8A4CF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #a4a4a4;
    font-size: 0.8vw;
    transition: 0.3s;
    width: 8vw;
    height: 2vw;
}

.page__btn:hover {
    cursor: pointer;
    color: white;
}

.page__btn:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .search__container {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }

    .search {
        width: 80vw;
        height: 12vw;
        font-size: 2.5vw;
        font-weight: 500;
        padding-left: 5vw;
        padding-right: 12vw; /* Add more padding on the right for the icon */
        border-width: 0.4vw;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .search__button {
        height: 12vw;
        font-size: 2.5vw;
        border-width: 0.4vw;
        margin-left: -0.2vw;
        padding-right: 5vw;
    }

    .search__icon {
        width: 5vw;
        height: 5vw;

    }

    .device__type__btn {
        width: 15vw;
        height: 10vw;
        border-width: 0.3vw;
    }

    .pagination {
        margin-top: 5vw;
        gap: 7vw;
    }

    .page__btn {
        width: 30vw;
        height: 10vw;
        font-size: 3.5vw;
        border-width: 0.4vw;
        border-radius: 100vw;
    }
}
