.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

.p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.failed {
    font-size: 3vw;
    color: red;
    text-align: center;
    padding-bottom: 40vw;
    margin-top: 20vw;
}

@media screen and (max-width: 768px) {
    .main {
        gap: 4vw;
        margin-top: 25vw;
    }

    .main div {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .p {
        font-size: 1.2rem;
        line-height: 10vw;
    }

    .failed {
        font-size: 5vw;
    }
}