.usersListContainer {
    padding: 20px;
    color: white;
}

.usersListContainer h1 {
    margin: 5vw 0;
}


.usersListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    padding: 1vw;
    border-bottom: 0.2vw solid #8A4CF0;
}

.usersListDeleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 0.6vw 2vw;
    cursor: pointer;
    border-radius: 0.5vw;
}

.usersListDeleteButton:hover {
    background-color: darkred;
}

.usersListEditButton {
    background-color: #4d75fc;
    color: white;
    border: none;
    padding: 0.6vw 2vw;
    cursor: pointer;
    border-radius: 0.5vw;
}

.usersListEditButton:hover {
    background-color: #2e4f9b;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.roleSelect {
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #8A4CF0;
    color: white;
}

.roleSelect:hover {
    background-color: #6e3db0;
}

.roleSelect:focus {
    outline: none;
}