/* HTML: <div class="loader"></div> */
.loader {
    width: 0.8vw;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 1vw 0 #8A4CF0, -1vw 0 rgba(138, 76, 240, 0.82);
        background: #24143b;
    }
    33% {
        box-shadow: 1vw 0 #8A4CF0, -1vw 0 rgba(36, 20, 59, 0.82);
        background: #24143b;
    }
    66% {
        box-shadow: 1vw 0 rgba(36, 20, 59, 0.82), -1vw 0 #8A4CF0;
        background: #24143b;
    }
    100% {
        box-shadow: 1vw 0 rgba(138, 76, 240, 0.82), -1vw 0 #000;
        background: #000;
    }
}

.heading {
    background: linear-gradient(to right, #F72585, #8A4CF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
    margin: 2vw 0;
}

.itemsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vw 10vw;
}

.itemsWrapper p {
    color: white;
    font-size: 1vw;
}

.smallItemsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondHeading {
    font-size: 2vw;
    color: white;
}

.smallItem {
    background: #060716;
    min-height: 10vw;
    padding: 2vw;
    border-radius: 3vw;
    max-width: 50vw;
    min-width: 35vw;
}

.smallItemCredits {
    background: #060716;
    min-height: 10vw;
    padding: 2vw;
    border-radius: 3vw;
    max-width: 50vw;
    min-width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creditsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.creditsInfo {
    max-width: 70%;
    margin-top: 2vw;
}

.firstSmallWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoActionButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

.infoContainer {
    padding-top: 0.5vw;
}

.spanGradient {
    background: linear-gradient(to right, #F72585, #8A4CF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.creditsCount {
    background: linear-gradient(to right, #F72585, #8A4CF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw !important;
}

.bigItem {
    background: #060716;
    min-height: 20vw;
    padding: 2vw;
    border-radius: 3vw;
    max-width: 44vw;
    min-width: 40vw;
    min-height: 25.5vw;
}

.prosAndCons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    margin-top: 2vw;
}

.pros {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.pros li {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.pros img {
    width: 1vw;
    height: 1vw;
    margin-top: 0.5vw;
}

.cons {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.cons li {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.cons img {
    width: 1vw;
    height: 1vw;
    margin-top: 0.5vw;
}

.cons li p,
.pros li p{
    font-size: 0.8vw;
    font-weight: 300;
}

.bigItem button {
    margin-top: 5vw;
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vw;
    gap: 1vw;
}

.buttonsWrapper button {
    min-width: 10vw;
}

.planInfo {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.currentPlan {
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.modalActions button {
    min-width: 13.5vw;
}

.cardLogo {
    width: 2vw;
    height: 2vw;
    object-fit: cover;
}

.paymentInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

@media screen and (max-width: 768px) {
    .itemsWrapper {
        flex-direction: column;
        align-items: center;
    }

    .itemsWrapper p {
        font-size: 3vw;
    }

    .secondHeading {
        font-size: 4vw;
        text-align: center;
    }

    .heading {
        font-size: 6vw;
        font-weight: 600;
        margin-top: 5vw;
    }

    .smallItemsWrapper {
        gap: 5vw;
    }

    .smallItem,
    .smallItemCredits {
        min-width: 80vw;
        min-height: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        padding: 5vw;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

    .firstSmallWrapper {
        flex-direction: column;
        align-items: center;
    }

    .infoActionButtons {
        margin-top: 5vw;
        gap: 2vw;
    }

    .infoActionButtons button {
        font-size: 2vw;
        padding: 1.5vw 5vw;
        min-width: 30vw;
    }

    .creditsContainer {
        min-height: 20vw;
        flex-direction: column;
    }

    .creditsCount {
        font-size: 10vw !important;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .creditsContainer button {
        font-size: 4vw;
        height: 7vw;
        width: 7vw;
        font-weight: 100;
    }

    .bigItem {
        min-width: 80vw;
        min-height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        padding: 5vw;
        margin-top: 5vw;
    }

    .prosAndCons {
        flex-direction: column;
        gap: 5vw;
    }

    .pros,
    .cons {
        gap: 5vw;
    }

    .pros li,
    .cons li {
        gap: 2vw;
        align-items: center;
    }

    .prosAndCons img {
        width: 4vw;
        height: 4vw;
    }

    .bigItem button {
        margin-top: 5vw;
        margin-left: 0;
        font-size: 3vw;
        padding: 1.5vw 5vw;
    }
}

/* Modal Styles */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #060716;
    padding: 2vw;
    border-radius: 2vw;
    max-width: 40vw;
    text-align: center;
}

.modal h2 {
    color: white;
    margin-bottom: 2vw;
}

.modalActions {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.modalActions button {
    padding: 1vw 3vw;
}
