.images__container {
    margin: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5vw;
    place-items: center;
}

.image {
    width: 20vw;
    border-radius: 0.5vw;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.image.loaded {
    opacity: 1;
}

.imageWrapper {
    position: relative;
}

.placeholder {
    width: 20vw;
    height: 15vw;
    background-color: #ccc;
    border-radius: 0.5vw;
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.placeholder.fadeOut {
    opacity: 0;
}

.placeholder::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@media screen and (max-width: 768px) {
    .images__container {
        grid-template-columns: 1fr;
        margin-top: 10vw;
    }

    .image {
        width: 70vw;
        border-radius: 3vw;
    }

    .placeholder {
        width: 70vw;
        height: 45vw;
    }
}
